body {
    font-family: 'Exo 2', sans-serif!important;
}
::-webkit-scrollbar-track{
    background: #fff !important;
}
::-webkit-scrollbar{
    width: 7px !important;
}

::-webkit-scrollbar-thumb{
    background: #fa4b90;
}

.logo {
    width: 120px;
    /*filter: drop-shadow(0px 0px 15px var(--neon-border-color));*/
}
.logo:hover {
    scale: 1.3;
    transition: 0.4s ease-in-out;
    filter: none;

}
.logo:not(:hover){
    transition: 0.3s ease-in;
}

/*.hero-caption-title {*/
/*    !*color: #9e2354!important;*!*/
/*}*/

.image-cover{
    width: auto;
    height: 100%;
    object-fit: cover;
}

:root {
    /* Base font size */
    font-size: 10px;

    /* Set neon color */
    --neon-text-color: #f043f0;
    --neon-border-color: #08f;
}

.hero-caption-title {
    /*font-size: 4rem!important;*/
    /*font-weight: 200!important;*/
    font-style: italic!important;
    font-family: 'Exo 2', sans-serif!important;
    color: #fff!important;
    text-transform: uppercase!important;
    animation: flicker 1.5s infinite alternate;
    padding: 4rem 6rem 5.5rem;
    transform: translateZ(0);
}

/* Animate neon flicker */
@keyframes flicker {


    0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
        transform: translateZ(0);

        text-shadow:
                -0.2rem -0.2rem 1rem #fff,
                0.2rem 0.2rem 1rem #fff,
                0 0 2rem var(--neon-text-color),
                0 0 4rem var(--neon-text-color),
                0 0 6rem var(--neon-text-color),
                0 0 8rem var(--neon-text-color),
                0 0 10rem var(--neon-text-color);

        /*box-shadow:*/
        /*        0 0 .5rem #fff,*/
        /*        inset 0 0 .5rem #fff,*/
        /*        0 0 2rem var(--neon-border-color),*/
        /*        inset 0 0 2rem var(--neon-border-color),*/
        /*        0 0 4rem var(--neon-border-color),*/
        /*        inset 0 0 4rem var(--neon-border-color);*/
    }

    20%, 24%, 55%, 60%,80% {
        transform: translateZ(0);
        text-shadow: none;
        /*box-shadow: none;*/
    }
}

.section-title {
    padding: 0.5em 0.5em;
    transform: translateZ(0);

    text-shadow:

            -0.2rem -0.2rem 5rem #fff,
            0.2rem 0.2rem 5rem #fff,
            0 0 2rem var(--neon-text-color),
            0 0 4rem var(--neon-text-color),
            0 0 6rem var(--neon-text-color),
            0 0 8rem var(--neon-text-color),
            0 0 10rem var(--neon-text-color)!important;

}